template(name="content-page")
	div#content-page
		if $eq profile 'teacher'
			p Author: #{author}
			p Content:
			p #{content.content}
			p Score: #{content.score}
			form#enscore(method="POST")
				label score:
				input(type="text", name="score")
				if can
					button(type="submit") enscore

		else
			if can
				p Your score: #{content.score}
				p content:
				p #{content.content}
			else
				form#edit(method="post")
					label content:
					input(type="text", name="content", value="#{content.content}")
					button(type="submit") Edit
